@charset "UTF-8";
body {
  font-family: "Montserrat", sans-serif;
  background-color: getColor("white");
}

* {
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

html {
  font-size: 10px;
  overflow-x: hidden;
}

.container {
  width: 100%;
  margin: 0 auto;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    width: 1280px;
  }
}

:root {
  --white: #fff;
  --black: #000000;
  --pink: #AB007B;
  --grey: #B7B7B9;
}

@media screen and (min-width: 774px) {
  .header__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .header__name {
    cursor: pointer;
    margin-left: 22px;
    font-weight: bold;
    font-size: 28px;
    color: var(--black);
  }
  .header__name:hover {
    color: var(--pink);
  }
  .header {
    height: 100px;
  }
  .nav__element {
    display: flex;
    font-size: 16px;
    color: var(--black);
    transition: color 0.3s ease-in-out;
    padding: 5px;
  }
  .nav__element:hover {
    color: var(--pink);
  }
  .nav__list {
    margin-top: 20px;
    margin-left: 100px;
  }
  .contact {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .header__nav {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .header__name {
    cursor: pointer;
    margin-left: 30px;
    font-weight: bold;
    font-size: 20px;
    color: var(--black);
  }
  .header__name:hover {
    color: var(--pink);
  }
  .header {
    height: 80px;
  }
  .nav__element {
    margin-left: 35px;
    display: block;
    font-size: 16px;
    color: var(--white);
    transition: color 0.3s ease-in-out;
    padding: 5px;
  }
  .nav__element:hover {
    color: var(--pink);
  }
  .nav__list {
    margin-top: 120px;
    margin-left: 10px;
  }
  .contact {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 40px;
    display: flex;
    margin-left: 40px;
    color: var(--white);
  }
  .nav__ul {
    display: flex;
    align-items: center;
  }
}
@media screen and (max-width: 774px) {
  .burger {
    z-index: 3;
    border: none;
    transition: transform 0.4s ease-in-out;
    margin-left: 75%;
    position: absolute;
    top: 20;
    right: 20;
    z-index: 4;
    background: transparent;
    outline: none;
    cursor: pointer;
  }
  .burger.active .line:first-child {
    transform: translateY(-300px);
    transition: transform 0.4s ease-in-out;
  }
  .burger.active .line:nth-child(2) {
    transform: rotate(-405deg) translateY(8px);
    transition: transform 0.4s ease-in-out;
  }
  .burger.active .line:nth-child(3) {
    transform: rotate(-320deg) translateY(-10px);
    transition: transform 0.4s ease-in-out;
  }
  .nav__ul {
    position: fixed;
    margin-top: 0;
    width: 100%;
    left: 0;
    right: 0;
    top: 0;
    background-color: var(--black);
    height: 102vh;
    transform: translate(100%);
    z-index: 3;
    transition: transform 0.4s ease-in-out;
  }
  .nav__ul.active {
    transform: translate(0%);
    display: block;
    transition: transform 0.4s ease-in-out;
  }
  .line {
    width: 3em;
    height: 0.3em;
    background-color: var(--pink);
    margin: 0.7em;
    border-radius: 20px;
    transition: transform 0.4s ease-in-out;
  }
}
@media screen and (min-width: 774px) {
  .burger {
    display: none;
  }
}
.img {
  width: auto;
  height: auto;
}

@media screen and (max-width: 767px) {
  .img {
    width: auto;
    height: 95px;
    background-image: url("../img/djzdjęciemobil.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
}
@media screen and (min-width: 768px) {
  .img {
    width: auto;
    height: 150px;
    background-image: url("../img/djzdjęciatablet.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
}
@media screen and (min-width: 1280px) {
  .img {
    width: auto;
    height: 200px;
    background-image: url("../img/djzdjęcie.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
}/*# sourceMappingURL=index.css.map */