@import "./utils/vars";



.footer {
    width: auto;
    height: 286px;
    background-color: var(--grey);
}


.footer__ul {
    font-size: 12px;
    color: var(--white);
    padding-top: 150px;
    margin-left: 60%;
    margin-top: 100px;
}

.footer__li {
    letter-spacing: .3px;
}


@media  screen and (min-width: 774px) {

    .footer__ul {
        padding-top: 150px;
        margin-left: 60%;
        margin-top: 100px;
    }

    .footer {
        height: 286px;
    }

    .footer__li {
        margin-top: 5px;
    }
}