@import "./utils/vars";



.graphic {
    margin-bottom: 90px;
    display: flex;
    justify-content: center;

    &__img {
        margin-bottom: 30px;
        display: flex;
        justify-content: center;
    }

    &__ul {
        display: flex;
        justify-content: center;
        margin-bottom: 90px;
        margin-right: 100px;
    }

    &__heading {
        display: flex;
        font-size: 20px;
        font-weight: 700;
        margin-bottom: 10px;
        margin-left: 245px;
    }

    &__topic {
        font-size: 18px;
    
    }

    &__text-marketing {
        width: 320px;
        height: 30px;
        margin-top: 15px;
        font-size: 14px;
        line-height: 20px;
        background-color: var(--white);
    }

    &__text-identification {
        width: 320px;
        height: 40px;
        margin-top: 15px;
        font-size: 14px;
        line-height: 20px;
        background-color: var(--white);
    }
    &__text-campaign {
        width: 320px;
        height: 10px;
        margin-top: 15px;
        font-size: 14px;
        line-height: 20px;
        background-color: var(--white);
    }

    &__div {
        margin-left: 10%;
    }

}

.graphic__button {
    margin-top: 90px;
    margin-left: 0;
}



@media  only screen and (max-width: 668px) {
 
    .graphic__ul {
        display: block;
        margin: auto;
        margin-bottom: 90px;
    }

    .graphic__heading {
        display: block;
        font-size: 18px;
        font-weight: 700;
        margin-left: 40px;
    }

    .graphic__topic {
        margin-left: 0;
        font-size: 16px;
        margin-top: 25px;
    
    }

    .graphic__text {
        width: 320px;
        height: 300px;
        margin-top: 15px;
        font-size: 14px;
        line-height: 20px;
        background-color: var(--white);
        margin-left: 0;
    }
    
    .button__graphic {
        margin-top: 50px;
        margin-left: 0;
    }
    
}

