@import "./utils/vars";



// @media screen and (max-width: 773px) {

// .header {
//     overflow: hidden;
//     margin-top: 30px;
//     margin-bottom: 30px;

//     &__nav{
//         display: flex;
//         flex-wrap: wrap;
//         align-items: center;
//     }
// }

// .header__name {
//     margin-left: 30px;
//     font-weight: bold;
//     font-size: 20px;
//     color: var(--black);
//     display: inline;
//     transition: color 0.3s ease-in-out;

//     &:hover {
//         color: var(--pink);
//     }
// }

// .nav__element {
//     font-size: 16px;
//     margin-left: 40px;
//     color: var(--white);
//     transition: color 0.3s ease-in-out;

//     &:hover {
//         color: var(--pink);
//     }
// }

// .tel {
//     padding-top: 10px;
// }

// .nav__list {
//     margin-top: 50%;
//     margin-left: 4%;
// }


// }


@media  screen and (min-width: 774px) {


    .header {
        height: 100px;
    }


    .header__nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }


    .header__name {
        cursor: pointer;
        margin-left: 22px;
        font-weight: bold;
        font-size: 28px;
        color: var(--black);
        transition: color 0.3s ease-in-out;
    
        &:hover {
            color: var(--pink);
        }
    }




    .nav__element {
        display: flex;
        font-size: 16px;
        color: var(--black);
        transition: color 0.3s ease-in-out;
        padding: 5px;
    
        &:hover {
            color: var(--pink);
        }
    }
    .nav__list {
        margin-top: 20px;
        margin-left: 100px;
    }

    .contact {
        display: none;
    }

}




@media  screen and (max-width: 768px) {



    .header__nav {
        margin-top: 40px;
        margin-bottom: 40px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }


    .header__name {
        cursor: pointer;
        margin-left: 30px;
        font-weight: bold;
        font-size: 20px;
        color: var(--black);
        transition: color 0.3s ease-in-out;
    
        &:hover {
            color: var(--pink);
        }
    }

    .tel {
        margin-top: 30px;
    }

    .header {
        height: 80px;

    }


    .nav__element {
        margin-left: 35px;
        display: block;
        font-size: 20px;
        color: var(--white);
        transition: color 0.3s ease-in-out;
        padding: 5px;
    
        &:hover {
            color: var(--pink);
        }
    }
    .nav__list {
        margin-top: 120px;
        margin-left: 10px;
    }

    .contact {
            font-weight: bold;
            font-size: 24px;
            margin-bottom: 60px;
            display: flex;
            margin-left: 40px;
            color: var(--white);
    }



}
