@import "./utils/vars";

/* Global Settings */

body {
    font-family: 'Montserrat', sans-serif;
    background-color: getColor("white");
}

* {
    padding: 0;
    margin: 0;
}


ul {
    list-style: none;
}

a { 
    text-decoration: none;
}



html {
    font-size: 10px;
    overflow-x: hidden;
}


/* Nav Styling */


.section {
    padding-bottom: 94px;
}


.container {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    gap: 15px;
    flex-direction: column;
    background-color: getColor(white);
}

.container__2 {
    height: 210px;
    

}


.header__item {
    padding: 5px;
    margin-left: 25;
    font-weight: bold;
    font-size: 36px;
    color: getColor("blackk");
    display: inline;
    transition: color 0.3s ease-in-out;
    position: relative;

}

.header__item::after {
    content: "";
    display: block;
    position: absolute;
    width: 300px;
    height: 1px;
    top: 39px;
    left: 374px;
    background-color: getColor("blackk");
    z-index: 3;

}


.header__item:hover {
    color: getColor("pinkk");
}

.nav__div {
    display: flex;
    margin-top: 10%;

}


.nav__ul-div {
    display: block;

}


.phone-number {
    margin-left: 150px;
    transition: .3s ease-in-out;

    &:hover {
        color: getColor("pinkk");
    }
}

.phone-number::after {
    content: "";
    display: block;
    position: absolute;
    width: 431px;
    height: 1px;
    top: 95px;
    left: 636px;
    background-color: getColor("blackk");
    z-index: 3;
}


.mail {
    margin-bottom: 17px;
    transition: .3s ease-in-out;

    &:hover {
        color: getColor("pinkk");
    }
}

.header-contact__item {
    display: flex;
    align-items: center;
}

.contact {
    margin-top: 70px;
}

.header__nav2 {
    background-color: getColor("white");
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 2em;
    position: relative;

}

.nav__ul {
    margin-top: 45px;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;

}

.header__link-nav {
    font-weight: light;
    padding-left: 10px;
    text-decoration: none;
    font-size: 16px;
    color: getColor("blackk");
}

.contact {
    display: none;
}



/* Burger Styling */

.burger {
    margin-left: 75%;
    position: fixed;
    top: 20;
    right: 20;
    z-index: 4;
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    display: none;
}

.line {
    width: 3em;
    height: .3em;
    background-color: getColor("pinkk");
    margin: .7em;
    border-radius: 20px;
    transition: .3s ease-in-out;
}

.media-menu-div{
    display: none;
}



@media only screen and (max-width: 668px) {

    
    // .header__nav2 {
    //     position: fixed;
    // }

    .header__item::after {
        display: none;
    }

    .phone-number::after {
        display: none;
    }


    .phone-number {
        margin-left: 0px;
    }

    .contact {
        display: block;
        color: getColor("whitee");
        font-weight: 700;
        margin-top: 100px;
        margin-bottom: 30px;
        margin-left: 10px;
        font-size: 24px;
        letter-spacing: 2px;
    }

    .header__item {
        font-size: 24px;
    }

    .container__2 {
        height: 150px;
    }
    .header__link-nav-font {
        font-size: 40px;
    }

    .burger {
        margin-top: 10%;
        display: block;
        transition: .3s ease-in-out;
    }

    .burger.active .line:first-child {
        transform: translateY(-300px);
    }

    .burger.active .line:nth-child(2) {
        transform: rotate(-405deg) translateY(8px);
    }

    .burger.active .line:nth-child(3) {
        transform: rotate(-320deg) translateY(-10px);
    }


    .nav__ul {
        position: fixed;
        margin-top: 0;
        display: none;
        width: 100%;
        left: 0;
        right: 0;
        top: 0;
        background-color: getColor("blackk");
        height: 102vh;
        transform: translate(100%);
        z-index: 3;
    }

    .nav__ul.active {
        transform: translate(0%);
        display: block;
        transition: .3s ease-in-out;
    }

    .header__link-nav {
        color: getColor("whitee");
        letter-spacing: 2px;
    }


    .test {
        display: block;
        margin-top: 15%;
        margin-left: 10%;
    }

    .nav__ul-div {
        font-size: 36px;
        display: block;
        margin-top: 40%;
        margin-left: 10%;
    }

    .header-contact__email {
        display: flex;
    }    

    .header-contact__phone {
        display: flex;
        margin-right: 100px;
}
    
    .header__link-nav {
        text-decoration: none;
        font-size: 17px;
        padding: 40px;
    }
    .header__link-nav1 {
        text-decoration: none;
        font-size: 36px;
        padding-top: 40px;
    }
    
    .header__link-nav_contact{
        font-size: 36px;
        color: getColor("blackk");
    }

    .media-menu-div {
 
        display: flex;
        font-size: 16px;
        margin-top: 300px;
        margin-left: 13%;
    }

    .media-menu-div:hover {
        color: getColor("pinkk");
    }

    .media-menu {
        cursor: pointer;
        padding: 10px;
        color: getColor("whitee");
        letter-spacing: 2px;
    }



    .media-text {
        color: getColor("whitee");

        &:hover {
            color: getColor("pinkk");
        }
    }
}






@media only screen and (max-width: 1000px) {

    .container__2 {
        height: 150px;
    }


    .nav__ul {
        width: 100%;
        
    }

    .container {
        width: auto;
        margin: auto;
        flex-direction: column;
        background-color: getColor("white");
    }
}


@media only screen and (max-width: 1080px) {



    .header__nav2 {
        justify-content: space-between;
    }

    .header__link-nav {
        padding: 14px;
    }

    .nav__ul {
        justify-content: center;
    }

    .nav__ul-div {
        display: block;
        
    }
}