@import "./utils/vars";



.main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 150px;
    margin-bottom: 150px;
}

.main__element {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    margin-left: 25px;
    margin-top: 30px;
}

.main__button {
    cursor: pointer;
    margin-left: 15px;
    margin-right: 15px;
    width: 90px;
    height: 40px;
    border: 1px solid black;
    background-color: var(--white);
    transition: background 0.3s linear;


    
    &:hover {
        background-color: var(--pink);
    }

}

.main__topic {
    font-size: 26px;
    font-weight: 700;
   
}

.main__button-look {
    color: var(--black);
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 15px;
    padding-top: 15px;
    transition: color 0.3s linear;
}


.main__button-look:hover {
    color: var(--white);
}


@media only screen and (max-width: 500px) {


    .main {
        display: flex;
        flex-direction: column;
    }

    .main__topic {
        font-size: 20px;
        align-items: center;
    }

    .main__element {
        margin: 10px;
        align-items: center;
        margin-bottom: 30px;
    }

    .Graphic {
        margin-left: 20px;
    }

    .Page {
        margin-left: 20px;
    }

}