.img {
    width: auto;
    height: auto;
    margin: 0;
}


@media screen and (max-width: 767px) {
    .img {
        width: auto;
        height: 95px;
        background-image: url("../img/djzdjęciemobil.png");
        background-repeat: no-repeat;
        background-size: cover;
    }
}


@media  screen and (min-width: 768px) {
    .img {
        width: auto;
        height: 150px;
        background-image: url("../img/djzdjęciatablet.png");
        background-repeat: no-repeat;
        background-size: cover;
    }
}


@media screen and (min-width: 1280px) {
    .img {
        width: auto;
        height: 200px;
        background-image: url("../img/djzdjęcie.png");
        background-repeat: no-repeat;
        background-size: cover;
    }
}
