@import "./utils/vars";



.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 90px;
}

.gallery__element img {
    width: 500px;
    margin: 10px;
    cursor: pointer;
    transition: transform 0.5s;
}

.gallery img:focus
.gallery img:focus {
    border: solid 5px getColor("pinkk");
}

.gallery__element img:hover{
    transform: scale(1.1);
    box-shadow: 13px 14px 39px -12px rgba(0, 0, 0, 1);
}

.logo {
    width: 1000px;
    margin-left: 350px;
}

.popup {
    animation: fadeIn 0.3s;
    z-index: 5;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}

.popup__img {
    max-width: 90%;
    max-height: 90%;
}

.popup.hidden {
    display: none;
}

.popup__close {
    opacity: 60%;
    cursor: pointer;
    position: fixed;
    background-color: transparent;
    border: none;
    color: getColor("whitee");
    top: 50px;
    right: 130px;
    font-size: 64px;
    padding: 10px;
    transition: color 0.3s ease-in-out;
}

.popup__close:hover {
    color: getColor("pinkk");
    opacity: none;
}

.popup__arrow {
    position: absolute;
    top: 50%;
    bottom: 50%;
    opacity: 60%;
    line-height: 128px;
    font-size: 72px;
    background-color: transparent;
    color: getColor("whitee");
    padding: 10px;
    border: none;
    cursor: pointer;
    transition: color 0.3s ease-in-out;
}
.popup__arrow:hover {
    color: getColor("pinkk");
    opacity: none;
}

.popup__arrow--left {
    left: 10%; 
}

.popup__arrow--right {
    right: 10%;
}


.popup.fade-out {
    animation: fadeOut 0.3s both;
}

@keyframes fadeIn {

    from {opacity: 0;

    }

    to {opacity: 1;

    }
}

@keyframes fadeOut {

    from {opacity: 1;

    }

    to {opacity: 0;

    }
}



@media only screen and (max-width: 668px) {

    .gallery__element {
        display: flex;
        max-width: 80%;
        margin: 0;
        justify-content: center;
    }

    .popup__arrow {
        position: absolute;
        top: 80%;
    }

    .popup__close {
        top: 20px;
        right: 20px;
    }

}