@import "./utils/global";
@import "./utils/container";
@import "./header";
@import "./burger-menu";
@import "./sectionimg";
@import "./main";
@import "./footer";
@import "./graphic";
@import "./wolczyn";
@import "./page"