body {
    font-family: 'Montserrat', sans-serif;
    background-color: getColor("white");
}

* {
    padding: 0;
    margin: 0;
}


ul {
    list-style: none;
}

a { 
    text-decoration: none;
}



html {
    font-size: 10px;
    overflow-x: hidden;
}
