:root {
    --white: #fff;
    --black: #000000;
    --pink: #AB007B;
    --grey: #B7B7B9;
}








// $colors: (
//     "whitee": #fff,
//     "blackk": #000000,
//     "pinkk": #AB007B,
//     "greyy": #B7B7B9,
// );


// @function getColor($key) {
//     @return map-get($colors, $key);
//   }
